.App {
  text-align: center;
  background: lightblue;
}

h1 {
  text-align: center;
  color: salmon;
}

.noggin {
  opacity: .5;
  width: 30vw;
  margin: 4vw 0 0 34vw;
}

#park-card {
  border-radius: 4px;
  margin: 0 auto;
  background-color: lightblue;
  width: 80vw;
  padding-bottom: 8vh;
  margin-bottom: 6vh;
}

#park-name {
  font-size: 24px;

}

#park-pic {
  width: 60vw;
  margin: 0 auto;

}


