html {
  background-color: rgb(217, 230, 235);
}

body {
  text-align: center;
}

.noggin {
  opacity: 0.5;
  width: 22vw;
  margin-top: 6vw;
}

h1 {
  font-family: "Sacramento", cursive;
  text-align: center;
  color: rgb(197, 115, 119);
  font-size: 5em;
  /* margin: 0 0 4vh 0; */
}

h2 {
  font-family: "Poiret One", cursive;
  text-align: center;
  color: rgb(128, 168, 126);
  font-size: 1em;
}

form {
  display: inline-block;
}

#park-card {
  background-color: rgb(208, 213, 216);
  border-radius: 4px;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  width: 100vw;
  padding: 8vh 0 8vh 0;
  margin-bottom: 1vh;
}

#park-name {
  font-size: 34px;
  color: rgb(182, 117, 110);
  font-family: "Chelsea Market", cursive;
  width: 80%;
  margin: 4% auto;
}

#park-pic {
  width: 50vw;
  margin: 0 auto;
}

#address {
  color: cadetblue;
  line-height: 10px;
}

@media screen and (max-width: 800px) {
  .noggin {
    margin-top: 34vw;
    width: 36vw;
  }

  #park-name {
    font-size: 28px;
  }

  #park-pic {
    width: 80vw;
  }
}
