
html {
  background-color: rgb(217, 230, 235);
}

body {
  text-align: center;
}

.noggin {
  opacity: .5;
  width: 30vw;
  margin-top: 6vw;
}

h1 {
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: rgb(197, 115, 119);
  font-size: 5em;
  /* margin: 0 0 4vh 0; */
}

h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: rgb(128, 168, 126);
  font-size: 1em;
}

/* .submit-button {
  margin-left: 6vw;
} */

form {
  display: inline-block;
}

#park-card {
  border-radius: 4px;
  margin: 0 auto;
  background-color: lightblue;
  width: 80vw;
  padding-bottom: 8vh;
  margin-bottom: 6vh;
}

#park-name {
  font-size: 24px;

}

#park-pic {
  width: 60vw;
  margin: 0 auto;

}

@media screen and (max-width: 800px) {
  .noggin {
    margin-top: 34vw;
  }

}